<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>

    <style>
      * {
        background: aliceblue;
      }
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
      }

    .btn {
      margin: 30px 30%;
    }

    .btn, input {
      background-color: whitesmoke;
    }
    </style>

  </head>
  <body>
    <h1>Check Your Weather!</h1>

    <form action="/weather" method="post"> 
      <label for="zip">Enter your Zip Code:</label>

      <input
        type="text"
        id="name"
        name="zip"
        required
        minlength="5"
        maxlength="5"
        size="10"
      />
      <div class="btn">
        <input type="submit" value="Get weather!" />
      </div>
    </form>
  </body>
</html>
