<!-- create form that collects user zip code: input field and submit button -->
 <!-- form submits a post request to /weather -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Weather</title>
 </head>
 <body>
   <form method="get">
      <label>What's your zip code?</label>
      <input type="number">
      <input type="submit" value="submit">
   </form>


 </body>
 </html>